.contactUs {
    padding-top: 20px;
}

#jjd {
    font-style: italic;
    font-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #DC143C;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #00703A;
    overflow: hidden;
}

.content img {
    height: 400px;
    width: 100%;
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00703A;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: black;
}

.footer {
    background-color: #00703A;
    text-align: center;
    overflow: hidden;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: green;
}

.slides {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: center;
}
